<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24112719783-iquqhai6sq0272n3h28en5q74edf8q5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24112719783-iquqhai6sq0272n3h28en5q74edf8q5d</string>
	<key>API_KEY</key>
	<string>AIzaSyBWhfaEXu_4ay0Km-aKC1NvUt5y4D5Tud0</string>
	<key>GCM_SENDER_ID</key>
	<string>24112719783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deepak.fluttersignin</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-57c24</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-57c24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24112719783:ios:4fa640a149142b3ffbb882</string>
</dict>
</plist>